<!DOCTYPE html>
<html lang="en" ng-app="wsCalc">
<head>
	<meta charset="UTF-8">
	<title>Waitstaff Calculator</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-controller="wsController">
	<header>
		<h1>Waitstaff Calculator</h1>
	</header>

<!-- MEAL DETAILS -->
	<section class="meal-details">
		<form name="myCalc" novalidate>
			<div>
				<h2 class="meal-heading">Enter the Meal Details</h2>
			</div>

			<div>
				<p><span>Base Meal Price:</span> $ <input type="number" name="mealPrice" ng-model="mealPrice" step="0.01" required /></p>
				<br />
				<p><span>Tax Rate:</span> % <input type="number" name="taxRate" ng-model="taxRate" required /></p>
				<br />
				<p><span>Tip Percentage:</span> % <input type="number" name="tipPercent" ng-model="tipPercent" required /></p>
				<br />
			</div>

			<div class="submit-container">
				<button type="submit" ng-click="submit()">Submit</button>
				<button type="reset" class="cancel" ng-click="cancel()">Cancel</button>
			</div>
		</form>
	</section>

<!-- CUSTOMER CHARGES -->
	<section class="customer">
		<div>
			<h2>Customer Charges</h2>
		</div>

		<div>
			<p><span>Subtotal:</span> {{ subtotal | currency }}</p>
			<p><span>Tip:</span> {{ tipAmount | currency }}</p>
			<hr />
			<p><span>Total:</span> {{ mealTotal | currency }}</p>
		</div>
	</section>

<!-- MY EARNINGS INFO -->
	<section class="earnings">
		<div>
			<h2>My Earnings Info</h2>
		</div>

		<div>
			<p><span>Tip total:</span> {{ tipTotal | currency }}</p>
			<p><span>Meal count:</span> {{ mealCount }}</p>
			<p><span>Average Tip Per Meal:</span> {{ avgTip | currency }}</p>
		</div>
	</section>

	<footer class="reset-container">
		<div>
			<button type="reset" class="reset" ng-click="reset()">Reset</button>
		</div>
	</footer>
</body>
</html>