body {
	font-family: 'Helvetica', Arial, sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
}

section {
	width: 30%;
	border: solid 1px black;
	padding: 1em;
	margin-right: auto;
	margin-left: auto;
}

.nav {
	border: none;
	text-align: center;
	padding: 0;
	margin-bottom: 2em;
}

a {
	text-decoration: none;
	color: gray;
}

a:hover {
	color: #E0F2F1
}

header {
	text-align: center;
}

h2 {
	margin-top: 0;
	text-align: center;
}

span {
	font-weight: bold;
}

button {
	border: solid 1px green;
	padding: 0.5em;
	background-color: #216C2A;
	color: #E0F2F1;
	font-size: 1em;
}

button:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

ul {
	list-style:none;
	padding: 0;
}

li {
	display: inline-block;
	padding: 1em;
}

/* MEAL DETAILS */
.meal-details {
	height: 21em;
}

.meal-heading {
	margin-bottom: 1em;
}

input[type="number"] {
	outline: none;
	padding: 0.5em;
	width: 40%;
}

input[type='number']:focus {
	border: solid 1px black;
}

.submit-container {
	text-align: center;
	margin-top: 1em;
}

.customer {
	margin-top: 2em;
}

/* RESET FOOTER */
.reset-container {
	padding-top: 3em;
	border: none;
}

/* ANIMATION */
.loading {
	position: relative;
	height: 100%;
}

.loading:before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	z-index: 1000;
}

.animate-view-container {
	position: relative;
	min-height: 100%;
}

.animate-view.ng-enter, .animate-view.ng-leave {
	transition: 1s linear all;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.animate-view.ng-enter {
	opacity: 0;
	z-index: 100;
}

.animate-view.ng-enter.ng-enter-active {
	opacity: 1;
}

.animate-view.ng-leave {
	opacity: 1;
	z-index: 99;
}

.animate-view.ng-leave.ng-leave-active {
	opacity: 0;
}
